{% load static %}
<section class="container-fluid footer_section">
    <div class="social_container">
      <h4>
        Follow on
      </h4>
      <div class="social-box">
        <a href="">
          <img src="{% static 'images/fb.png' %}">
        </a>
        <a href="">
          <img src="{% static 'images/twitter.png' %}">
        </a>
        <a href="">
          <img src="{% static 'images/linkedin.png' %}">
        </a>
        <a href="">
          <img src="{% static 'images/youtube.png' %}">
        </a>
      </div>
    </div>
    <p>
      &copy; 2019 All Rights Reserved. Design by
      <a class="text text-primary" href="https://html.design/">Free Html Templates</a>
      <br>
      &copy; {{ current_year }} Backend Development by
      <a class="text text-primary" href="https://github.com/shervinbdndev">Shervin Badanara</a>
    </p>
</section>