{% load static %}
<section class="about_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                غذاهایی <br>
                که ما <br>
                سرو میکنیم
              </h2>
              <hr>
            </div>
            <p>
              انواع مختلفی از قسمت‌های لورم ایپسوم در دسترس است،
              اما اکثر آنها به شکلی از طریق طنز تزریقی یا کلمات تصادفی دچار تغییر شده‌اند
            </p>
            <a class="btn-1" href="">
              بیشتر بدانید
            </a>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="{% static 'images/about-img.jpg' %}">
          </div>
        </div>
      </div>
    </div>
</section>