{% load static %}
<section class="dish_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="dish_container">
            <div class="box">
              <img src="{% static 'images/dish.jpg' %}">
            </div>
            <div class="box">
              <img src="{% static 'images/dish.jpg' %}">
            </div>
            <div class="box">
              <img src="{% static 'images/dish.jpg' %}">
            </div>
            <div class="box">
              <img src="{% static 'images/dish.jpg' %}">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <hr>
              <h2>
                پرس های <br>
                محبوب <br>
                ما
              </h2>
            </div>
            <p>
              انواع مختلفی از قسمت‌های لورم ایپسوم در دسترس است،
              اما اکثر آنها به شکلی از طریق طنز تزریقی یا کلمات تصادفی دچار تغییر شده‌اند
            </p>
            <a class="btn-1" href="">
              بیشتر بدانید
            </a>
          </div>
        </div>
      </div>
    </div>
</section>