{% load static %}
<section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          نظر مشتریان
        </h2>
      </div>
      <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box ">
              <div class="client_id">
                <div class="img-box">
                  <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                </div>
                <h4>
                  مرتضی عرب
                </h4>
              </div>
              <div class="detail-box">
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in
                  some form, by injected humour, or randomised words which .
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box ">
              <div class="client_id">
                <div class="img-box">
                  <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                </div>
                <h4>
                  امیرمهدی فلاحی
                </h4>
              </div>
              <div class="detail-box">
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in
                  some form, by injected humour, or randomised words which .
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box ">
              <div class="client_id">
                <div class="img-box">
                  <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                </div>
                <h4>
                  علیرضا عابدی
                </h4>
              </div>
              <div class="detail-box">
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in
                  some form, by injected humour, or randomised words which .
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box ">
              <div class="client_id">
                <div class="img-box">
                  <img src="{% static 'images/client.png' %}" alt="" class="img-fluid">
                </div>
                <h4>
                  آرمان وارسته
                </h4>
              </div>
              <div class="detail-box">
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in
                  some form, by injected humour, or randomised words which .
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>